:host {
  height: 100%;
  width: 95%;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  background-color: #efefef;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}