<div class="app-giphy-search-query">
  <div style="position: relative; width: min-content; margin-top: 5px;">
    <input type="search"
            name="queryInput"
            id="queryInput"
            class="app-giphy-search-input"
            placeholder="Enter GIF query..."
            (keydown.enter)="callGifSearch()"
            (search)="onSearch($event)"
            [(ngModel)]="query">
    <button (click)="callGifSearch()"
            class="app-giphy-search-button">
      <span class="material-symbols-outlined">
        search
      </span>
    </button>
  </div>
</div>

<ul class="app-giphy-search-results"
    (scroll)="onListScroll($event)"
    (wheel)="onWheel($event)"
    #appGiphySearchResults
    *ngIf="giphyService.gifList && giphyService.gifList.length">
  <li *ngFor="let gif of giphyService.gifList"
      class="app-giphy-found-gif"
      @fadeOut
      (@fadeOut.done)="onFadeOutDone(appGiphySearchResults)"
      [style.max-width.px]="gif.images.fixed_height.width">
    <span [style.max-width.px]="gif.images.fixed_height.width"
          title="{{gif.title}}">
      {{gif.title}}
    </span>
    <img src="{{gif.images.fixed_height.url}}"
         title="fixed_height"
         style="border-radius: 0px 0px 5px 5px;"
         alt="fixed_height">
    <button (click)="saveGif(gif, appGiphySearchResults)"
            class="app-giphy-save-button">
      <span class="material-symbols-outlined">
        save
      </span>
    </button>
  </li>
</ul>