:host {
  height: 50px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  line-height: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  box-shadow: 0px 2px 10px 0px #000000;
}

:host a {
  display: flex;
  align-items: center;
}

:host > span {
  padding-right: 15px;
}